{% extends "base.html" %}

{% block title %}
Zgłoszenie nowego ucznia
{% endblock %}

{% block content %}
<h3>Twoje przyjęcie zostało zgłoszone, możesz wrócić do <a href="{% url 'index' %}">strony głównej</a>.</h3>
    
     <p>imie: {{ student.name }}</p>
    <p>nazwisko: {{ student.surname }}</p>
    <p>wiek: {{ student.age }}</p>
    <p>mail:{{ student.email }}</p>

    {% if student.teachers.all %}
        <h2>Zajęcia indywidualne u :</h2>
        {% for trainer in student.teachers.all %}
            <p>{{ trainer.name }} {{ trainer.surname }}</p>
        {% endfor %}
    {% else %}
        <p>Brak przypisanego trenera.</p>
    {% endif %}
{% endblock %}